@font-face {
  font-family: dongo;
  src: url("./Dongle-Light.ttf");
}
@font-face {
  font-family: sniglet;
  src: url("./Sniglet-Regular.ttf");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --white-clr: #fafaf9;
  --light-grey: #f3f4f6;
  --black: #1e293b;
  --green: #0f766e;
  --green-light: #55bbad;
  --slate: #334155;
  --light-slate: #a3a3a3;
  --red: #e11d48;
  --medium-grey: #9ca3af;
  --high-priority-cl: #dc2626;
  --medium-priority-clr: #059669;
  --low-priority-clr: #facc15;
}

/* BODY */
body,
html {
  min-width: 100vw;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: var(--white-clr);
  font-size: 2vh;
  color: var(--slate);
  font-family: sniglet;
}

/* header */
header {
  background-color: var(--green);
  height: 10vh;
  width: 100%;
  padding-inline: 2vw;
  color: var(--white-clr);

  display: flex;
  align-items: center;
  font-size: clamp(1rem, 5vw, 2rem);
}

/* FOOTER */
footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}

/* NAV */
a:hover {
  cursor: pointer;
}

a p,
a svg {
  pointer-events: none;
}

main {
  min-height: 90vh !important;
}

nav {
  width: 18vw;
  min-height: inherit !important;
  background-color: var(--light-grey);
  padding: 2vh 1vw;

  gap: 2vh;
}

.project-header {
  font-size: 2.5vh;
  border-bottom: solid;
  margin-block: 1vh;
  justify-content: space-between;
  padding-inline: 1vw;
  padding-block: 1vh;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

a[class^="link"] {
  margin-block: 1vh;
  padding: 1vh 1vw;
  text-decoration: none;
  color: var(--slate);
  border-radius: 1vw;
  background-color: var(--white-clr);
  border: 2px solid var(--white-clr);
}

a[class^="link"]:hover {
  border: 2px solid var(--green);
}

a[class^="link"]:active,
.selected {
  border: solid var(--green);
  background-color: var(--green) !important;
  color: var(--white-clr) !important;
}

input {
  border: none;
  height: 4.5vh;
  padding-inline: 0.5vw;
  font-size: 2vh;
  font-family: sniglet;
}

div.button {
  justify-content: center;
}

svg {
  pointer-events: none;
}

button {
  border-radius: 10px;
  border: none;
  padding: 1vh 1vw;
  margin-inline: 1vw;
  margin-block: 2vh;
  color: var(--white-clr);
  font-size: 2vh;
  font-family: sniglet;
  font-weight: 500;
}

.add-btn {
  background-color: var(--green-light);
}

.add-btn:hover,
.add-btn:active {
  background-color: var(--green);
}

.cancel-btn {
  background-color: var(--light-slate);
}

span {
  margin-left: 1vw;
}

.link-project {
  justify-content: space-between;
}

.delete-project:hover {
  width: 1.3vw;
  aspect-ratio: 1/1;
  background-color: var(--green);
  color: var(--white-clr);
  border-radius: 50%;
  text-align: center;
}

/* MAIN */
.flex-row {
  width: 100%;
  display: flex;
}

.hide {
  display: none;
}

.task-container {
  width: 100% !important;
  padding-inline: 3vw;
  padding-block: 1vh;
}

.task-header {
  text-align: center;
  font-size: 3vh;
  margin-block: 1vh;
}

.task-title {
  justify-content: space-between;
  padding-block: 1vh;
  padding-inline: 1vw;
  margin-block: 1vh;
  border-bottom: solid #6b7280;
}

.task-card {
  font-family: dongo;
  font-size: 3.5vh;
  padding-inline: 1vw;
}

.task-detail {
  padding-left: 1vw;
  line-height: 2vh;
  flex-grow: 1;
}

.due-date {
  font-size: 2vh;
}

.project-name {
  font-size: 2.5vh;
  font-weight: 600;
}

/* color for date category */
.overdue {
  color: var(--red);
}

p.due-date:not(.overdue) {
  visibility: hidden; /* dont show date of tasks in future or tasks of today*/
}

/* circle icon of each task */
.task-check {
  height: 3vh;
  aspect-ratio: 1/1;
  background-repeat: no-repeat;
  /* transition: background-size 0.2s, color 0.4s; */
  background-size: 0 0;
  border-radius: 50%;
}

.high-priority {
  background-image: linear-gradient(
    var(--high-priority-cl),
    var(--high-priority-cl)
  );
  color: var(--high-priority-cl);
  border: 2px solid var(--high-priority-cl);
}

.low-priority {
  color: var(--low-priority-clr);
  border: 2px solid var(--low-priority-clr);
  background-image: linear-gradient(
    var(--low-priority-clr),
    var(--low-priority-clr)
  );
}

.medium-priority {
  color: var(--medium-priority-clr);
  border: 2px solid var(--medium-priority-clr);
  background-image: linear-gradient(
    var(--medium-priority-clr),
    var(--medium-priority-clr)
  );
}

.task-check:hover,
.circle-checked {
  background-size: 100% 100%;
  color: inherit;
}

/* .task-card {
  transition: background-position 5s ease;
} */

.selected-task {
  color: var(--medium-grey);
}

/* ADD TASK FORM */
.flex-row-center {
  display: flex;
  justify-content: center;
}

.task-form-container input[type="text"] {
  width: 20vw;
}

.task-form select {
  padding: 0.5vh 0.5vw;
  border: none;
  background-color: inherit;
  border-bottom: 2px solid var(--slate);
  margin-inline: 1vw;
}

select,
option {
  font-family: sniglet;
}

.del-btn {
  background-color: #fb7185;
}
