.contact {
  /* margin-inline: auto; */
  display: flex;
  justify-content: center;
  gap: 10vw;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 4rem;
  font-weight: 400;
  /* margin-bottom: 2vh; */
}

iframe {
  border: none;
  width: 35vw;
  height: max(90%, 75vh);
}

.form-container {
  display: grid;
  grid-template-rows: 1fr 5fr;
  /* display: flex;
  flex-direction: column;
  justify-content: space-evenly; */
  width: 30vw;
  height: inherit;
}

form {
  /* ;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; */
  margin-bottom: 2rem;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 4fr auto;
  row-gap: 2vh;
  font-size: 1rem;
}

form input {
  line-height: 140%;

  padding: 5px 5px;
}
/* 
form > input:first-child {
  height: 100px;
} */
