* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --yello-clr: #fcd34d;
  --darker-yellow: #f59e0b;
  --darker-green: #1dccb5;
  --green-clr: #31c3bd;
  --grey: #a8bfc9;
  --light-bg: #1f3641;
  --bg: #1a2a33;
  --dark-font-clr: #111827;
  --cell-shadow-clr: #051722;
  --font-size: 1.2rem;
  --medium-font-size: 1.4rem;
  --lg-font-size: 1.5rem;
  --grey-font: #94a3b8;
}

/* html {
  height: 100%;
} */

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--bg);
  place-content: center;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

/* for x and o sign */
img {
  width: 5vh;
  height: 5vh;
}

.img-o-sign,
.cell-mark-O {
  filter: invert(86%) sepia(75%) saturate(2070%) hue-rotate(321deg)
    brightness(110%) contrast(98%);
}

.img-x-sign,
.cell-mark-X {
  filter: invert(98%) sepia(42%) saturate(2867%) hue-rotate(144deg)
    brightness(104%) contrast(83%);
}

/*  game initializer */
#section-starter {
  margin: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div#starter {
  width: 30%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#starter-selection-mode {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 3vh;
}

#starter-selection-mode button {
  font-size: var(--medium-font-size);
  padding: 1rem 1rem;
  border: none;
  cursor: pointer;
  border-radius: 15px;
}

#starter-selection-mode button:hover {
  font-size: var(--lg-font-size);
}

#starter-selection-mode > button:first-child {
  background-color: var(--yello-clr);
  box-shadow: 0px 5px var(--darker-yellow);
}

#starter-selection-mode > button:last-child {
  background-color: var(--green-clr);
  box-shadow: 0px 5px var(--darker-green);
}

/* toggle input O or X mark */
#starter-sign-selection {
  width: 100%;
  text-align: center;
  background-color: var(--light-bg);
  padding-inline: 2vw;
  padding-block: 3vh;
  color: var(--grey-font);
}

#x-btn {
  background: url("images/cross.png") no-repeat center;
}
#o-btn {
  background: url("images/o.png") no-repeat center;
}
#x-btn,
#o-btn {
  margin: 1rem 1rem;
  width: 20vh;
  height: 8vh;
  background-size: contain;
  background-color: var(--bg);
  box-shadow: 0 8px var(--cell-shadow-clr);
  cursor: pointer;
  border: none;
  border-radius: 10px;
}

#x-btn:focus,
#o-btn:focus {
  background-color: var(--grey);
}
/* game */
.disabled {
  visibility: hidden;
}

main {
  height: 100%;
  width: 100%;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-frame {
  width: 30%;
  margin-block: auto;
  margin-inline: auto;
}
.main-frame div {
  margin-block: 1.5vh;
}

.container {
  max-width: inherit;
  aspect-ratio: 1 / 1;
  display: grid;
  gap: 1.5vh 1.5vw;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.cell {
  background-color: var(--light-bg);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px var(--cell-shadow-clr);
}

.disabled-pointer {
  pointer-events: none;
  /* cursor: not-allowed; */
}

.cell-mark-X {
  width: 70%;
  height: 70%;
  background-image: url(images/cross.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.cell-mark-O {
  width: 60%;
  height: 60%;
  background-image: url(images/o.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
/* track */

.track-display {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.track-display > div:first-child {
  display: flex;
  justify-content: space-evenly;
}

.track-display > div:nth-child(2n) {
  background-color: var(--light-bg);
  text-align: center;
  padding: 1rem 3rem;
  font-size: var(--font-size);
  color: var(--grey);
  font-weight: 700;
  border-radius: 10px;
  box-shadow: 0 10px var(--cell-shadow-clr);
}

#reset-btn {
  width: 6vh;
  height: 6vh;
  background: url("images/circular-arows.png") no-repeat center;
  background-size: contain;
  background-color: var(--grey);
  box-shadow: 0 5px var(--grey-font);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}

#reset-btn:hover {
  transform: translateY(3px);
  transition: all 0.3s ease-in-out 0s;
}

/* result display */
.result-display {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
}

.result-display div {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 10px;
  font-size: 1.3rem;
}

.o {
  background-color: var(--yello-clr);
}

.x {
  background-color: var(--green-clr);
}

#display-tie {
  background-color: var(--grey);
}

p[id$="-score"] {
  font-size: var(--lg-font-size);
  font-weight: 800;
}

/* dialog */
dialog {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 25%;
  background-color: var(--light-bg);
  border: none;
  text-align: center;
  display: grid;
  grid-template-rows: auto auto;
  place-items: center;
  color: var(--grey-font);
  padding: 1rem;
  font-size: var(--lg-font-size);
}

#dialog-btns {
  margin-inline: auto;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

#dialog-close-btn {
  background-color: inherit;
  color: var(--grey);
  font-weight: 700;
  position: absolute;
  display: block;
  top: 0;
  right: 0;
}

dialog button {
  font-size: var(--lg-font-size);
  padding: 1rem 2rem;
  border-radius: 10px;
  border: none;
  /* width: 20%; */
}

#restart-btn {
  background-color: var(--grey);
  box-shadow: 0 5px var(--grey-font);
}

#next-round-btn {
  box-shadow: 0 5px var(--darker-yellow);
  background-color: var(--yello-clr);
}

dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
}

dialog::backdrop {
  backdrop-filter: blur(5px);
}
/* footer */
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

footer p {
  display: flex;
  justify-content: center;
  color: var(--grey-font);
}
