:root {
  --blue: #00b4cc;
  --gray: #6b7280;
  --white: #fafafa;
}
/* SEARCH BAR */
.error-message {
  color: red;
}
#search-section {
  margin-top: 4vh;
  margin-bottom: 1vh;
  width: 30vw;
}

form {
  width: 100%;
}

input.searchTerm {
  width: 100%;
  padding-inline: 1vw;
  padding-bottom: 1vh;
  color: var(--white);
  font-size: 2vh;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 3px solid #075985;
}

input:focus:invalid {
  color: red;
}

.searchButton {
  aspect-ratio: 1/1;
  height: 5vh;
  border: 0;
  background: transparent;
  cursor: pointer;
}

.searchButton img {
  width: 90%;
  height: 90%;
  filter: invert(90%);
}

/* SEARCH RESULT */
.result-dropdown {
  background-color: var(--white);
  color: var(--gray);
  font-size: 2vh;
  padding-left: 1vw;
  padding-block: 1vh;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: var(--gray);
}

a:hover {
  background-color: var(--gray);
  color: var(--white);
}
