:root {
  --blue: #00b4cc;
  --gray: #6b7280;
  --white: #fafafa;
}
/* SEARCH BAR */
.error-message {
  color: red;
}

#search-section {
  margin-top: 4vh;
  margin-bottom: 1vh;
  width: 100%;
}

.search-header {
  justify-content: space-evenly;
}
form {
  width: 30vw;
}

input.searchTerm {
  width: 100%;
  padding-inline: 1vw;
  padding-bottom: 1vh;
  color: var(--white);
  font-size: 2vh;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 3px solid #075985;
}

input:focus:invalid {
  color: red;
}

.searchButton {
  aspect-ratio: 1/1;
  height: 5vh;
  border: 0;
  background: transparent;
  cursor: pointer;
}

.searchButton img {
  width: 90%;
  height: 90%;
  filter: invert(90%);
}

/* SEARCH RESULT */
.result-dropdown {
  background-color: var(--white);
  color: var(--gray);
  font-size: 2vh;
  padding-left: 1vw;
  padding-block: 1vh;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: var(--gray);
}

a:hover {
  background-color: var(--gray);
  color: var(--white);
}

/* SWITCh */
.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 40px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0891b2;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

/* circle as pseudo element*/
.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  left: 3px;
  bottom: 4px;
  background-color: aliceblue;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
  display: block;
}

input#togBtn:checked + .slider {
  background-color: #94a3b8;
}

input#togBtn:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(50px);
}

.slider:after {
  content: "F";
  color: #f8fafc;
  display: inline-block;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 1.5vh;
}

input#togBtn:checked + .slider:after {
  content: "C";
}
