* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* BODY */
body {
  background: linear-gradient(#0e7490, #0891b2, #a5f3fc);
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* body * {
  margin-inline: auto;
} */

.flex-row {
  display: flex;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.hide {
  visibility: hidden;
}

.error {
  color: rgb(226, 11, 11);
}
/*  SPIN LOADING */
#loading {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 2vw;
  height: 2vw;
  animation: spin 2s linear infinite;
  margin-inline: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* FOOTER */
footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}
