* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* BODY */
body {
  background: linear-gradient(#0e7490, #0891b2, #a5f3fc);
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* body * {
  margin-inline: auto;
} */

.flex-row {
  display: flex;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

/*  */
/* FOOTER */
footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}
