section#current-weather {
  width: 75vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #f8fafc;

  display: grid;
  grid-template: auto auto / auto auto;
  font-size: 3vh;
}
section#current-weather div {
  margin-inline: 1vw;
}

div.weather-header {
  grid-area: 1/1/2/-1;
  /* justify-content: space-between;
  padding-right: 2vw; */
}

.city-name,
.current-temp {
  font-size: 5vh;
  font-weight: 600;
}

div.weather-status {
  grid-area: 2/1/-1/2;
  align-self: center;
  justify-content: space-around;
  border-right: 2px solid;
}

img.weather-icon {
  width: 10vw;
}

div.weather-info {
  grid-area: 2/2/-1/-1;
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
}

div.weather-info > div {
  display: grid;
  grid-gap: 0px;
  grid-template: 1fr 1fr / 1fr 1fr;
}

p.info-r1 {
  grid-area: 1/2/2/-1;
  font-weight: 600;
}

p.info-r2 {
  grid-area: 2/2/-1/-1;
  font-size: 2vh;
}

div.icon-container {
  grid-area: 1/1/-1/2;
  height: inherit;
}

div.icon-container img {
  width: 50%;
  height: 50%;
  filter: invert(100%);
}
